
*.pyc
__pycache__/bintree.cpython-310.pyc
__pycache__/class_conjunt_individus.cpython-310.pyc
__pycache__/class_conjunt_trets.cpython-310.pyc
__pycache__/class_individu.cpython-310.pyc
__pycache__/class_parell_cromosomes.cpython-310.pyc
__pycache__/class_conjunt_trets.cpython-310.pyc
